/* ── 主题变量 ──────────────────────────── */
/* 亮色模式（默认） */
:root {
    color-scheme: light;

    --theme-bg: repeating-linear-gradient(
            to right,
            #f0f0f0,
            #f0f0f0 0.125rem,
            #ffffff 0.0625rem,
            #ffffff 0.25rem
    );
    --theme-color: #222;
    --theme-link: #0066cc;
    --theme-bg-button: white;
    --theme-bg-button-hover: #ddd;
    --theme-border-button: #ccc;
    --theme-color-button: #222;
}

/* 暗色模式 */
.dark {
    color-scheme: dark;

    --theme-bg: repeating-linear-gradient(
            to right,
            #1a1a1a,
            #1a1a1a 0.125rem,
            #2b2b2b 0.0625rem,
            #2b2b2b 0.25rem
    );
    --theme-color: #e0e0e0;
    --theme-link: #66b2ff;
    --theme-bg-button: #2b2b2b;
    --theme-bg-button-hover: #3c3c3c;
    --theme-border-button: #666;
    --theme-color-button: #e0e0e0;
}
